<div class="section">
	<%= link_to new_admin_website_path do %>
		<div class="btn" style="float:right">add project</div>
	<% end %>
	<h1 style="padding-top:5px;">Web</h1>
	<% alternate = "odd" %>
	<% @websites.each do |website| %>
		<div class="list <%= alternate %>">
			<table>
				<tr>
					<td>
						<i class="icon-move"></i>
					</td>
					<td class="title">
						<%= image_tag website.photos.first.image.url(:thumb) %>
					</td>
					<td>
						<%= website.title %>
					</td>
					<td class="action">
						<%= link_to edit_admin_website_path(website) do %>
							<i class="icon-edit"></i>
						<% end %>
					</td>
					<td class="action">
						<%= link_to [:admin, website], :confirm => "Delete #{branding.title}?", :method => :delete do %>
							<i class="icon-remove"></i>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<% alternate = alternate == "odd" ? "even" : "odd" %>
	<% end %>
</div>